body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
}

.listings-container {
  width: 100%;
  max-width: 1400px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto; /* Container'ı ortalar */
}

h1 {
  text-align: center;
  margin-bottom: 20px; /* Başlık ile form arasında boşluk bırakır */
}

.listing-form-container {
  display: flex;
  justify-content: center; /* İçeriği yatayda ortalar */
  align-items: center; /* İçeriği dikeyde ortalar */
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.list-icon {
  max-width: 400px; /* Görselin maksimum genişliğini belirler */
  height: auto; /* Görselin yüksekliğini orantılı olarak ayarlar */
  margin-left: 20px; /* Form ile görsel arasına boşluk koyar */
  opacity: 0; /* Animasyon başlamadan önce görünmez yapar */
  animation: fadeIn 1s ease-in-out forwards; /* Animasyonu uygular */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5); /* Küçükten büyüğe animasyon */
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.listing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px; /* Formun genişliğini artırmak için */
  margin-left: auto;
  margin-right: auto;
}

.listing-form input,
.listing-form select,
.listing-form button {
  width: 100%;
  max-width: 600px; /* Input ve select alanlarının maksimum genişliğini artırmak için */
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.auction-duration-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
}

.auction-duration-days {
  margin-left: 10px;
  font-size: 16px;
}

.listing-form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.listing-form button:hover {
  background-color: #0056b3;
}

.listings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.listing-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
}

.listing-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: darkred;
}
