.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-logo .logo-background {
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .footer-logo img {
    width: 100px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .footer-links li {
    margin: 0 15px;
    cursor: pointer;
  }
  
  .footer-social-icon {
    margin: 20px 0;
  }
  
  .footer-icons-container {
    display: inline-block;
    margin: 0 10px;
  }
  
  .footer-icons-container img {
    width: 30px;
  }
  
  .footer-copyright {
    margin-top: 20px;
  }
  
  .footer hr {
    border-color: #555;
  }
  
  .footer p {
    margin: 10px 0;
  }
  