.auction-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.product-detail {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  margin-bottom: 20px;
}

.product-image img {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 8px;
  margin-right: 20px; /* Space between image and details */
}

.product-info {
  flex: 1; /* Allow product info to take remaining space */
}

.product-info h2 {
  margin-bottom: 10px;
}

.product-info p {
  margin: 5px 0;
}

.product-status {
  color: #ce1417;
  font-weight: bold;
  margin-top: 10px;
}

.button-group {
  margin-top: 20px;
}

.button-group input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.button-group button {
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-group button:hover {
  background-color: #3a5485;
}

.bids-list {
  margin-top: 20px;
}

.bid-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.bid-item p {
  margin: 5px 0;
}

.countdown-timer {
  color: #ce1417;
  font-weight: bold;
}


.error-message {
  color: #ce1417;
  margin-top: 10px;
  font-weight: bold;
}
